body {
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
}

.board {
  position: fixed;
  left: 5vw;
  top: 5vh;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2em;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

.about {
  position: absolute;
  bottom: 0;
  right: 1.5em;
  color: white;
  font-size: 0.8rem;
  text-align: right;
  font-weight: 200;
}

.about a{
  color: white;
}
