body {
  background: url('bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
}

.board {
  position: absolute;
  left: 0; right: 0;
  top: 5vh; bottom: 5vh;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
}

.about {
  width: 100%;
  padding-right: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: end;
  font-size: 0.9em;
}

@media screen and (max-height: 425px) {
  .board {
    left: 5vw; right: 5vw;
    top: 0vh; bottom: 0vh;
  }
}